## Import and Load Data

In [197]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)
import datetime

In [198]:
# import dataframe
df = pd.read_csv("synthetic_loan_data.csv")
df.head()

,Loan ID,Disbursement Date,Principal Amount,Interest Rate,Loan Tenure (days/weeks/months),Total Repaid,Outstanding Balance,Number of Missed Payments,Borrower Age,Employment Status,Income Range,State/Location,Days Past Due (DPD),Previous Collection Attempts,Current Collection Stage,Loan Type,Bucket (60+ Days in Arrears),First Payment Default (FPD),Number of Loans,Credit Score,Collections Status,Restructured Loan,Reasons for Default
0,1,2024-02-01,305297.457239,29.447789,538,270837.062405,185697.554475,6,47,Employed,299890.165335,Suburban,66.0,3,Mid-Stage Collection,Returning,1,0,3,682.741196,In Collections,1,Loss of Job
1,2,2024-12-30,356017.959786,17.798398,45,282790.554368,89262.901419,1,55,Employed,164126.496586,Suburban,59.0,0,Mid-Stage Collection,New,0,1,3,707.417974,In Collections,1,Unknown
2,3,2023-05-11,15423.602860,20.736963,554,14960.055376,5924.060324,0,60,Employed,284108.623898,Suburban,95.0,1,Legal Action,New,1,1,4,625.003396,Written-Off,0,Loss of Job
3,4,2024-07-18,23030.594434,21.769930,229,14029.577468,13409.346902,2,24,Employed,172592.523257,Rural,116.0,3,Legal Action,New,1,0,2,515.684539,Written-Off,0,Medical Emergency
4,5,2024-02-05,451758.346847,14.060306,338,385637.489962,125757.771544,4,47,Employed,245499.938123,Suburban,27.0,0,Early Collection,New,0,0,5,790.972572,In Collections,0,Unknown

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Loan ID                          10000 non-null  int64
 1   Disbursement Date                10000 non-null  object
 2   Principal Amount                 10000 non-null  float64
 3   Interest Rate                    10000 non-null  float64
 4   Loan Tenure (days/weeks/months)  10000 non-null  int64
 5   Total Repaid                     10000 non-null  float64
 6   Outstanding Balance              10000 non-null  float64
 7   Number of Missed Payments        10000 non-null  int64
 8   Borrower Age                     10000 non-null  int64
 9   Employment Status                10000 non-null  object
 10  Income Range                     10000 non-null  float64
 11  State/Location                   10000 non-null  object
 12  Days Past Due (DPD)              10000 non-null  float64
 13  Previous Collection Attempts     10000 non-null  int64
 14  Current Collection Stage         10000 non-null  object
 15  Loan Type                        10000 non-null  object
 16  Bucket (60+ Days in Arrears)     10000 non-null  int64
 17  First Payment Default (FPD)      10000 non-null  int64
 18  Number of Loans                  10000 non-null  int64
 19  Credit Score                     10000 non-null  float64
 20  Collections Status               10000 non-null  object
 21  Restructured Loan                10000 non-null  int64
 22  Reasons for Default              10000 non-null  object
dtypes: float64(7), int64(9), object(7)
memory usage: 1.8+ MB

In [200]:
# Create Checkpoint
df_1 = df.copy()

There are no missing values in the generated data

## Data Cleaning and Data Preprocessing

In [201]:
# Get Loan Age from Disbursement
df_1['Loan Age'] = (pd.to_datetime("today") - pd.to_datetime(df_1['Disbursement Date'])).dt.days

In [202]:
# Drop Loan ID and Disbursement date
df_1.drop(['Loan ID', 'Disbursement Date'], axis=1, inplace=True)

Loan age is calculated from Disbursement date.  
Loan ID and disbursement date is dropped from the data

In [203]:
# Print first 5 rows
df_1.head()

,Principal Amount,Interest Rate,Loan Tenure (days/weeks/months),Total Repaid,Outstanding Balance,Number of Missed Payments,Borrower Age,Employment Status,Income Range,State/Location,Days Past Due (DPD),Previous Collection Attempts,Current Collection Stage,Loan Type,Bucket (60+ Days in Arrears),First Payment Default (FPD),Number of Loans,Credit Score,Collections Status,Restructured Loan,Reasons for Default,Loan Age
0,305297.457239,29.447789,538,270837.062405,185697.554475,6,47,Employed,299890.165335,Suburban,66.0,3,Mid-Stage Collection,Returning,1,0,3,682.741196,In Collections,1,Loss of Job,375
1,356017.959786,17.798398,45,282790.554368,89262.901419,1,55,Employed,164126.496586,Suburban,59.0,0,Mid-Stage Collection,New,0,1,3,707.417974,In Collections,1,Unknown,42
2,15423.602860,20.736963,554,14960.055376,5924.060324,0,60,Employed,284108.623898,Suburban,95.0,1,Legal Action,New,1,1,4,625.003396,Written-Off,0,Loss of Job,641
3,23030.594434,21.769930,229,14029.577468,13409.346902,2,24,Employed,172592.523257,Rural,116.0,3,Legal Action,New,1,0,2,515.684539,Written-Off,0,Medical Emergency,207
4,451758.346847,14.060306,338,385637.489962,125757.771544,4,47,Employed,245499.938123,Suburban,27.0,0,Early Collection,New,0,0,5,790.972572,In Collections,0,Unknown,371

In [204]:
# Get the numerical columns
df_1.select_dtypes(exclude=object).columns

Index(['Principal Amount', 'Interest Rate', 'Loan Tenure (days/weeks/months)',
       'Total Repaid', 'Outstanding Balance', 'Number of Missed Payments',
       'Borrower Age', 'Income Range', 'Days Past Due (DPD)',
       'Previous Collection Attempts', 'Bucket (60+ Days in Arrears)',
       'First Payment Default (FPD)', 'Number of Loans', 'Credit Score',
       'Restructured Loan', 'Loan Age'],
      dtype='object')

In [205]:
# Get numerical features
num_data = ['Principal Amount', 'Interest Rate', 'Loan Tenure (days/weeks/months)',
       'Total Repaid', 'Outstanding Balance', 'Number of Missed Payments',
       'Borrower Age', 'Income Range', 'Days Past Due (DPD)',
       'Previous Collection Attempts', 'Number of Loans', 'Credit Score', 'Loan Age']

In [206]:
# Create checkpoint
df_2 = df_1.copy()
# Get Dummy data
df_2 = pd.get_dummies(df_2, drop_first=1)
df_2.head()

,Principal Amount,Interest Rate,Loan Tenure (days/weeks/months),Total Repaid,Outstanding Balance,Number of Missed Payments,Borrower Age,Income Range,Days Past Due (DPD),Previous Collection Attempts,Bucket (60+ Days in Arrears),First Payment Default (FPD),Number of Loans,Credit Score,Restructured Loan,Loan Age,Employment Status_Retired,Employment Status_Self-Employed,Employment Status_Unemployed,State/Location_Suburban,State/Location_Urban,Current Collection Stage_Legal Action,Current Collection Stage_Mid-Stage Collection,Current Collection Stage_No Collection,Loan Type_Returning,Collections Status_Paid,Collections Status_Written-Off,Reasons for Default_Family Issues,Reasons for Default_Loss of Job,Reasons for Default_Medical Emergency,Reasons for Default_Overspending,Reasons for Default_Unknown
0,305297.457239,29.447789,538,270837.062405,185697.554475,6,47,299890.165335,66.0,3,1,0,3,682.741196,1,375,False,False,False,True,False,False,True,False,True,False,False,False,True,False,False,False
1,356017.959786,17.798398,45,282790.554368,89262.901419,1,55,164126.496586,59.0,0,0,1,3,707.417974,1,42,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,True
2,15423.602860,20.736963,554,14960.055376,5924.060324,0,60,284108.623898,95.0,1,1,1,4,625.003396,0,641,False,False,False,True,False,True,False,False,False,False,True,False,True,False,False,False
3,23030.594434,21.769930,229,14029.577468,13409.346902,2,24,172592.523257,116.0,3,1,0,2,515.684539,0,207,False,False,False,False,False,True,False,False,False,False,True,False,False,True,False,False
4,451758.346847,14.060306,338,385637.489962,125757.771544,4,47,245499.938123,27.0,0,0,0,5,790.972572,0,371,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True

The categorical data has been OneHotEncoded

In [207]:
# import scaler from sklearn
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# fit and transform features
df_2[num_data] = scaler.fit_transform(df_2[num_data])
# Check first 5 rows
df_2.head()

,Principal Amount,Interest Rate,Loan Tenure (days/weeks/months),Total Repaid,Outstanding Balance,Number of Missed Payments,Borrower Age,Income Range,Days Past Due (DPD),Previous Collection Attempts,Bucket (60+ Days in Arrears),First Payment Default (FPD),Number of Loans,Credit Score,Restructured Loan,Loan Age,Employment Status_Retired,Employment Status_Self-Employed,Employment Status_Unemployed,State/Location_Suburban,State/Location_Urban,Current Collection Stage_Legal Action,Current Collection Stage_Mid-Stage Collection,Current Collection Stage_No Collection,Loan Type_Returning,Collections Status_Paid,Collections Status_Written-Off,Reasons for Default_Family Issues,Reasons for Default_Loss of Job,Reasons for Default_Medical Emergency,Reasons for Default_Overspending,Reasons for Default_Unknown
0,0.365749,1.652353,-0.068711,0.608886,0.491999,0.169051,0.358401,2.038029,-0.637770,0.957034,1,0,-0.006500,0.472643,1,-0.926010,False,False,False,True,False,False,True,False,True,False,False,False,True,False,False,False
1,0.722453,0.041977,-1.666502,0.705638,-0.525694,-1.274596,0.988459,0.305650,-0.839255,-1.046666,0,1,-0.006500,0.719882,1,-1.720624,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,True
2,-1.672856,0.448195,-0.016856,-1.462177,-1.405184,-1.563325,1.382246,1.836653,0.196955,-0.378766,1,1,0.700021,-0.105837,0,-0.291274,False,False,False,True,False,True,False,False,False,False,True,False,True,False,False,False
3,-1.619358,0.590989,-1.070166,-1.469709,-1.326190,-0.985867,-1.453017,0.413679,0.801410,0.957034,1,0,-0.713021,-1.201113,0,-1.326897,False,False,False,False,False,True,False,False,False,False,True,False,False,True,False,False
4,1.395769,-0.474766,-0.716902,1.538079,-0.140557,-0.408408,0.358401,1.343996,-1.760330,-1.046666,0,0,1.406543,1.557023,0,-0.935555,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True

The numerical features has been standardized.

## Create Clusters

In [208]:
# Import kmeans from sklearn
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=2, random_state=42, n_init=10, max_iter=300)
df['Kmeans_cluster'] = kmeans.fit_predict(df_2)

In [209]:
# import GaussianMixture
from sklearn.mixture import GaussianMixture
# Train GMM with 2 components (same as K-Means clusters)
gmm = GaussianMixture(n_components=2, random_state=42, max_iter=100)
df['GMM_Cluster'] = gmm.fit_predict(df_2)

In [210]:
# Compare the clusters from Kmeans and GMM
df["Comparison"] = np.where(df['Kmeans_cluster'] == df['GMM_Cluster'], "Same", "Different")
df["Comparison"].value_counts(normalize=True)

Comparison
Different    0.9962
Same         0.0038
Name: proportion, dtype: float64

In [211]:
# Analyze the GMM clusters
df.groupby("GMM_Cluster")[["Days Past Due (DPD)", "Number of Missed Payments", "Credit Score",'Total Repaid',"Outstanding Balance", 'Loan Tenure (days/weeks/months)']].mean()

,Days Past Due (DPD),Number of Missed Payments,Credit Score,Total Repaid,Outstanding Balance,Loan Tenure (days/weeks/months)
GMM_Cluster,,,,,,
0,61.381099,5.351710,709.201962,218577.334516,113776.639957,559.319439
1,117.234877,5.482687,555.603748,170668.837040,166550.994863,559.071965

In [212]:
# Analyze the Kmeans clusters
df.groupby("Kmeans_cluster")[["Days Past Due (DPD)", "Number of Missed Payments", "Credit Score",'Total Repaid',"Outstanding Balance", 'Loan Tenure (days/weeks/months)']].mean()

,Days Past Due (DPD),Number of Missed Payments,Credit Score,Total Repaid,Outstanding Balance,Loan Tenure (days/weeks/months)
Kmeans_cluster,,,,,,
0,117.014292,5.494615,555.828819,171110.339212,167033.649213,558.944490
1,61.219838,5.339714,710.001594,218480.141250,112979.156727,559.440062

**Observation**
* Gaussian Mixture
    * It is obvious that the Gaussian mixture has understood the pattern between the borrows and carefully clustered them.
    * Cluster 0 has fewer days past due, higher credit score, higher total repaid, and lesser Outstanding balance, all attributing to a higher probability of recovery. Borrowers in cluster 0 are Low-risk customers.
    * Cluster 1 has higher days past due, lower credit score, lower total repaid, and higher Outstanding balance,e all attributing to a low probability of recovery. Borrowers in cluster 1 are high-risk customers.

In [216]:
df.head()

,Loan ID,Disbursement Date,Principal Amount,Interest Rate,Loan Tenure (days/weeks/months),Total Repaid,Outstanding Balance,Number of Missed Payments,Borrower Age,Employment Status,Income Range,State/Location,Days Past Due (DPD),Previous Collection Attempts,Current Collection Stage,Loan Type,Bucket (60+ Days in Arrears),First Payment Default (FPD),Number of Loans,Credit Score,Collections Status,Restructured Loan,Reasons for Default,Kmeans_cluster,GMM_Cluster,Comparison
0,1,2024-02-01,305297.457239,29.447789,538,270837.062405,185697.554475,6,47,Employed,299890.165335,Suburban,66.0,3,Mid-Stage Collection,Returning,1,0,3,682.741196,In Collections,1,Loss of Job,1,0,Different
1,2,2024-12-30,356017.959786,17.798398,45,282790.554368,89262.901419,1,55,Employed,164126.496586,Suburban,59.0,0,Mid-Stage Collection,New,0,1,3,707.417974,In Collections,1,Unknown,1,0,Different
2,3,2023-05-11,15423.602860,20.736963,554,14960.055376,5924.060324,0,60,Employed,284108.623898,Suburban,95.0,1,Legal Action,New,1,1,4,625.003396,Written-Off,0,Loss of Job,0,1,Different
3,4,2024-07-18,23030.594434,21.769930,229,14029.577468,13409.346902,2,24,Employed,172592.523257,Rural,116.0,3,Legal Action,New,1,0,2,515.684539,Written-Off,0,Medical Emergency,0,1,Different
4,5,2024-02-05,451758.346847,14.060306,338,385637.489962,125757.771544,4,47,Employed,245499.938123,Suburban,27.0,0,Early Collection,New,0,0,5,790.972572,In Collections,0,Unknown,1,0,Different

In [220]:
# Drop the Kmeans_cluster
df_3 = df.drop(['Kmeans_cluster'], axis=1)
df_3['Risk'] = np.where(df['GMM_Cluster']==0, "Low Risk", "High Risk")

In [222]:
df_3.head()

,Loan ID,Disbursement Date,Principal Amount,Interest Rate,Loan Tenure (days/weeks/months),Total Repaid,Outstanding Balance,Number of Missed Payments,Borrower Age,Employment Status,Income Range,State/Location,Days Past Due (DPD),Previous Collection Attempts,Current Collection Stage,Loan Type,Bucket (60+ Days in Arrears),First Payment Default (FPD),Number of Loans,Credit Score,Collections Status,Restructured Loan,Reasons for Default,GMM_Cluster,Comparison,Risk
0,1,2024-02-01,305297.457239,29.447789,538,270837.062405,185697.554475,6,47,Employed,299890.165335,Suburban,66.0,3,Mid-Stage Collection,Returning,1,0,3,682.741196,In Collections,1,Loss of Job,0,Different,Low Risk
1,2,2024-12-30,356017.959786,17.798398,45,282790.554368,89262.901419,1,55,Employed,164126.496586,Suburban,59.0,0,Mid-Stage Collection,New,0,1,3,707.417974,In Collections,1,Unknown,0,Different,Low Risk
2,3,2023-05-11,15423.602860,20.736963,554,14960.055376,5924.060324,0,60,Employed,284108.623898,Suburban,95.0,1,Legal Action,New,1,1,4,625.003396,Written-Off,0,Loss of Job,1,Different,High Risk
3,4,2024-07-18,23030.594434,21.769930,229,14029.577468,13409.346902,2,24,Employed,172592.523257,Rural,116.0,3,Legal Action,New,1,0,2,515.684539,Written-Off,0,Medical Emergency,1,Different,High Risk
4,5,2024-02-05,451758.346847,14.060306,338,385637.489962,125757.771544,4,47,Employed,245499.938123,Suburban,27.0,0,Early Collection,New,0,0,5,790.972572,In Collections,0,Unknown,0,Different,Low Risk